{strip}
	{include "./util/assets_includer.html" assets=$assets inline}

	{if empty($history)}
		{include './tracking_simple.html' inline}
	{else}
		<div class="ecom-tracking">
			{if $wa->getEnv() === 'frontend'}
				<div class="ecom-tracking__simple-box">
					Отслеживание отправления: <a href="https://pochta.ru/tracking#{$tracking_id}" target="_blank">
						https://pochta.ru/tracking#{$tracking_id}</a>
				</div>
			{/if}

			<div class="ecom-tracking__history">
				<table class="zebra">
					<tr>
						<th>Дата</th>
						<th>Город</th>
						<th>Статус</th>
					</tr>

					{foreach $history as $record}
						<tr>
							<td>
								{$record->getDate()}
							</td>
							<td>
								{$record->getAddressDescription()}{if $record->getAddressIndex()}, {$record->getAddressIndex()}{/if}
							</td>
							<td>
								{if $record->getAttrName() && $record->getTypeName()}
									{$record->getAttrName()} ({$record->getTypeName()})
								{elseif $record->getAttrName()}
									{$record->getAttrName()}
								{elseif $record->getTypeName()}
									{$record->getTypeName()}
								{/if}
							</td>
						</tr>
					{/foreach}
				</table>
			</div>
		</div>
	{/if}
{/strip}
